.page--full_bg__background {
   background-image:url('../img/background.jpg');
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   background-color: #efefef;
}

.main-buttons {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.party-women {postion: absolute; top: 0; height: 50%; width: 100%; background-color:red;}
.party-men {postion: absolute; bottom: 0; height: 50%; width: 100%; background-color:blue;}